body {
  background-image: url('https://vue-international.com/images/storm-gallery/2017.07.07-Vue_0013small.jpg');
  background-size: 100%;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  background: #ff3f00;
  color: white;
  text-align: center;
  font-size: 10pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: start;
}

.movie {
  width: 140px;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.movie-title {
  font-size: 0.8em;
  text-align: center;
}

.movie-grid article {
  padding: 10px 15px;
  text-align: left;
}

.slider-container {
  margin: auto;
  width: 82%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider {
  flex-wrap: wrap;
}

.slider img {
  flex: 0 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container iframe {
  border: 0;
  max-width: 100%;
  max-height: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.blur-image {
    display: block;
    width: 160px;
    height: 241px;
    border-radius: 5px;
    transition: filter 0.3s ease;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.image-container:hover .blur-image {
    filter: blur(5px); /* Adjust blur strength as needed */
}

.image-container:hover .image-overlay {
    opacity: 1;
}

a {
    color: #FF5733; /* Set your desired color here */
    text-decoration: none; /* Remove underline */
}

#del_movie {
    position: absolute;
    top: 0;
    right: 0;
    color: #ff0029;
    font-size: 0.8em;
    padding: 5px;
}

.comment_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 10px;
}
.comment {
    text-indent: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 650px;
    height: 50px;
    margin: 10px;
    color: #ff1b1b;
}

#add_movie {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#newMovie {
    width: 250px;
    margin-right: 5px;
}