<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="welcome">
        <p>Welcome to Movie App</br></p>
        <button id="welcome-btn" onclick="backToUsers()" >Start</button>
    </div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>